[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/cozy-v2-triggers"]
	path = lib/cozy-v2-triggers
	url = https://github.com/cozy-finance/cozy-v2-triggers
